@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
  background-color: #FAFAFA;
}

iframe {
  overflow: hidden;
}

#top {
  position: absolute;
  top: 0;
}

.active {
  color: #000 !important;
}

.modal-content {
  background-color: #fafafa !important;
}

.mobile {
  display: none !important;
}

.zoomer {
  cursor: zoom-in;
}

.hero {
  height: 91vh;
  padding-bottom: 80px;
}

.project-quote {
  position: relative;
  color: black;
  padding: 3rem 1rem 0 2rem;
  line-height: 1.7;
  font-style: italic; 
  border-top: 1px solid rgba(65, 105, 225, 0.5);
  margin-top: 3rem;
}

.project-quote .quotation-mark{
  left: -20px;
  top: -25px;
  font-size: 7rem;
}

.user-quote {
  color: black;
  padding: 30px;
  line-height: 1.7;
  font-style: italic; 
  margin-top: 2rem;
}

.quotation-mark {
  font-family: "Playfair Display", serif;
  position: absolute;
  left: -75px;
  top: -100px;
  color: rgba(49,114,246,0.1);
  font-size: 15rem;
}

.vcard figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px; 
}
.vcard figure img {
  border-radius: 50%; 
}
.vcard .vcard-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; 
}
.vcard .vcard-text .position {
  color: #7A7A7A; 
  font-size: 80%;
}

.case .user-quote {
  margin: 3rem 5rem 3rem 5rem;
  padding: 1.5rem 3rem;
  position: relative;
}

.case .user-quote .vcard {
  margin-top: 1.5rem;
}

.case-section-intro {
  text-align: center;
}

.quote {
  line-height: 1.2rem;
  color: #5b5b5b;
}

.text-muted {
  color: #8D8D8D !important;
}

.test {
  color: #000;
  text-decoration: none;
  font-weight: 700;

  background-size: 200% auto;
  -webkit-background-size: 200% auto;
  -moz-background-size: 200% auto;

  background-position: -0% 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 201, 4,0)), color-stop(50%, royalblue));
  background-image: -webkit-linear-gradient(left, rgba(255, 201, 4,0) 50%, royalblue 50%);
  background-image: -o-linear-gradient(left, rgba(255, 201, 4,0) 50%, royalblue 50%);
  background-image: linear-gradient(to right, rgba(255, 201, 4,0) 50%, royalblue 50%);
  -o-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
}

.test:hover {
  background-position: -100% 0;
  text-decoration: none;
}

.highlight {
  background-color: #ffc904;
}

.hidden-answer {
  color: #E0E0E0;
  background-color: #E0E0E0;
  transition: color 0.75s ease-out;
  transition: background-color 0.5s ease-out;
}

.hidden-answer:hover {
  color: #ACACAC;
  background-color: #FAFAFA;
}

.about-desc {
  margin-bottom: 8rem;
}

.divider {
  padding: 0 1rem;
}

.process-title .line {
  margin: 20px auto;
}

.process h6 {
  font-size: 14px; 
  color: black;
}

.process-icon {
  width: 50%;
  margin: 1rem 0 2rem 0;
}

.project-card {
  background-color: #ffffff;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  align-items: center;
  height: 80vh;
  margin-left: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom:5rem;
}

.project-card:hover {
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.1);
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.01);
}

.project-card-text {
  position: relative;
  right: 3rem;
}

.project-card img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.project-card-img{
  position: relative;
  left: -5rem;
  padding: 3rem 0;
}

.line {
  border-bottom: solid 2px royalblue;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-text {
  margin-left: 4rem;
}

.break {
  display: none;
}

.logo {
  height: 25px !important;
  display: none;
}

.full-screen {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.small-text {
  color: #858585;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.herodesc {
  padding: 0 0 1rem 0;
}

.outlined-img {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
  transition: all 0.4s ease;
  color: royalblue;
}
a:hover {
  cursor: pointer;
  color: royalblue;
}

ol, ul, p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

.small {
  font-size: 18px;
}

ol li {
  margin-bottom: 1rem;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  color: #212121;
  font-size: 2.5em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
h4,
b, strong {
  font-weight: bold;
  color: black;
}

h6 {
  line-height: 1.5rem;
}

.custom-btn {
  background: #eee;
  color: #555555;
  font-weight: bold;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: black;
  cursor: pointer;
}
.custom-btn.custom-btn-bg {
  background: #333333;
  color: #eee;
}
.custom-btn.custom-btn-bg:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.animated {
  position: relative;
  font-weight: bold;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 900px;
  position: relative;
}

.animated-item {
  color: royalblue;
}

.animated-item {
  line-height: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 12s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 4s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 8s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  5% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  33% {
    opacity: 1;
    transform: translateY(0px);
  }
  38% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
  }
}

.dropdown-toggle::after {
  margin-left: 0.5rem !important;
}

.navbar {
  background: #FAFAFA;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  will-change: transform;
  transition: transform 200ms linear;
  padding: 20px 2.5rem 20px 2.5rem;
}
.navbar[class*="-unpinned"] {
  background: #FAFAFA;
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  background: #FAFAFA;
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 13px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}
 
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
  background-color: #FAFAFA;
  border: none;
  padding-top: 10px;
}

.dropdown-item {
  padding-left: 1.25rem;
  color: rgba(0,0,0,0.5);
}

.dropdown-item:hover{
  color: black;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #FAFAFA;
}

.copyright-text {
  font-size: 14px;
  font-weight: normal;
  display: block;
}

.case-title {
  padding: 5rem 15rem 0 15rem;
}

.case-hero {
  margin: 3rem 0;
}

.case-intro-img {
  padding: 0 15rem;
  margin-bottom: 15px;
}

.case-meta-row {
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}

.case-meta-column {
  margin: 0 1rem;
}

.case-meta-title {
  font-weight: 900;
  color: black;
  margin-bottom: 0.5rem;
}

.case-section {
  margin-bottom: 10rem;
}

.case-section-title {
  margin-bottom: 2rem;
}

.case-subsection-title {
  font-weight: 900;
  color: black;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.case-reflection-title {
  margin-bottom: 2rem;
}

.case-section-desc {
  padding: 0 4rem;
  margin-bottom: 3rem;
}

.case-section-side {
  position: -webkit-sticky;
  position: sticky;
  top: 15rem; 
  width: 13.1rem;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  transform: rotate(270deg);
  border-bottom: 2px solid rgba(65, 105, 225, 0.2);
  text-align: center;
  padding-left: 10px;
}

.case-side-text {
  letter-spacing: 4px;
  padding-bottom: 2rem;
  color: rgba(65, 105, 225, 0.5);
  text-transform: uppercase;
}

.vline {
  border-left: 1px solid #e0e0e0;
  margin-left: 3.5rem;
  padding-right: 2rem;
}

.grayline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  padding: 0 30px;
  width: 75%;
}

.case-section-content {
  padding-left: 3rem;
}

.case-section-content ul,ol{
  padding-left: 2rem;
}

.case-section-content ol li{
  padding-left: 2rem;
}

.case-section-content ul li::before {
  content: "\2022";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.case-img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.case-reflection {
  padding-bottom: 3rem;
}

.case-quote {
  background-color: rgba(25, 105, 225, 0.1);
  padding: 2rem 2rem;
  line-height: 1.75rem;
  font-size: 1rem;
  font-style: italic;
}

.footer {
  padding: 3rem 0 2rem 0;
}

/*--------------------------------------------------- Tablet ------------------------------------------------------*/
@media (max-width: 1199px) {
  .animated {
    font-size: 4rem !important;
  }
  .animated-info {
    min-width: 800px;
  }
  .case-title {
    padding: 3rem 0 0 0;
  }
  .case-section-side {
    display: none !important;
  }
  .case-section-content {
    padding: 0 15px;
    flex: none !important;
    max-width: 100% !important;
  }
}

@media (max-width: 991px) {
  iframe {
    height: 600px;
  }
  .process-icon {
    width: 40%;
  }
  .animated {
    font-size: 3rem !important;
  }
  .animated-info {
    min-width: 600px;
  }
  .custom-btn {
    margin-right: 1rem;
  }
  .project-quote {
    display: none;
  }
  .case-brief {
    padding: 0 15px;
    flex: none !important;
    max-width: 100% !important;
  }
  .project-card {
    height: 60vh;
  }
  .case-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
    flex: none !important;
    max-width: 100% !important;
  }

  .case-meta-row {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .case-meta-column {
    padding: 0 15px;
    margin: 0;
    flex: none !important;
    max-width: 100% !important;
  }

  .case-intro-img {
    padding: 0 10rem;
  }
}

/*------------------------------------------------ Mobile/Tablet ----------------------------------------------------*/
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 1.75em;
  }

  .mobile {
    display: block !important;
  }

  .divider {
    padding: 0;
  }

  .navbar-brand {
    font-weight: bold;
    margin-left: 15px;
  }

  .navbar-light .navbar-nav .nav-link:focus span,
  .navbar-light .navbar-nav .nav-link:hover span {
    transform: translate3d(0, 0, 0);
  }

  .dropdown-toggle::after {
    content: none;
  }

  .hero {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    height: auto;
  }

  .hero-text {
    padding: 0 15px 0 15px;
  }

  .animated-info {
    display: none;
  }

  .navbar {
    padding: .5rem 1rem;
  }

  .navbar[class*="headroom--not-top"] {
    padding: .5rem 1rem;
  }

  .navbar-collapse {
    background: #FAFAFA;
    flex-grow: 0;
    flex-basis: 100% !important;
  }

  .navbar-expand-sm {
    flex-flow: column wrap !important;
    justify-content: space-between !important;
  }

  .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
    flex-wrap: wrap !important;
  }

  .navbar-expand-sm .navbar-collapse {
    display: block !important;
  }

  .navbar-nav {
    height: 100vh;
    margin-top: 3rem;
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: column !important;
  }

  .nav-item-small {
    margin-top: 1rem;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 7px 15px;
    font-size: 1.5rem;
  }

  .nav-link-small {
    color: rgba(0,0,0,.5);
    font-weight: bold;
    padding: 3px 20px;
    font-size: 1.25rem;
  }

  .nav-link-desc {
    font-weight: normal;
    padding: 3px 20px;
  }

  .full-screen {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo {
    display: inline;
  }

  .hide {
    display: none !important;
  }

  .herodesc {
    padding: 0;
    margin-bottom: 1em;
  }

  .nameIs {
    font-size: 2rem;
  }

  .name {
    font-size: 3rem;
  }

  .custom-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .break {
    display: inline;
  }


  .project-card {
    margin-right: 5%;
    height: 80vh;
  }

  .project-card-text {
    flex: none;
    max-width: 100%;
    position: static;
    padding: 0 2rem 1rem 2rem;
  }

  .project-card-cover {
    flex: none;
    max-width: 100%;
  }
  .project-card img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    padding: 0;
  }

  .project-card-img{
    position: static;
  }

  .headshot {
    padding: 0 15px;
    margin: 15px 0 40px 0;
  }

  .about {
    margin-top: 1rem;
  }

  .about-text {
    margin-left: 0;
    padding: 0 15px;
  }

  .about-desc {
    margin-bottom: 3rem;
  }

  .process-title {
    margin-bottom: 3rem;
  }

  .process-title h4{
    padding: 0 15px;
  }

  .process-title .line{
    margin-left: 15px;
  }

  .process-card {
    margin-bottom: 3rem;
  }

  .message {
    height: 7rem !important;
  }

  .case {
    margin-top: 3rem;
  }

  .case .user-quote {
    margin: 3rem 0;
    padding: 0 10px 0 30px;
  }

  .quotation-mark {
    font-family: "Playfair Display", serif;
    position: absolute;
    left: -25px;
    top: -75px;
    color: rgba(49,114,246,0.1);
    font-size: 7rem !important;
  }

  .case-title {
    padding: 0 15px;
  }

  .case-hero {
    padding: 0 15px;
    margin: 30px 0;
  }

  .case-brief {
    padding: 0 30px;
  }

  .case-meta {
    margin-left: 0;
    margin-top: 1rem;
    display: block !important;
  }

  .case-meta-column {
    margin-bottom: 1rem;
  }

  .case-meta-row {
    margin: 0;
    max-width: 100% !important;
  }

  .case-section {
    margin-bottom: 4rem;
  }

  .case-section-title {
    padding: 0 15px;
  }

  .case-section-desc {
    padding: 0 15px;
    margin-bottom: 1rem;
  }

  .case-section-intro {
    text-align: left;
  }

  .case-section-content {
    padding: 0 30px;
  }

  .case-section-content ol li {
    padding-left: 1rem;
  }

  .case-img {
    margin: 1rem 0 2rem 0;
  }

  .case-reflection {
    padding: 0 15px 2rem 15px;
  }

  .case-hifi {
    padding: 0 15px 4rem 15px !important;
  }

  .footer {
    padding: 1rem 0 1rem 0;
  }
  .copyright-text {
    font-size: 12px;
  }
  .collapse:not(.show) {
    display: none !important;
  }
  .navbar-expand-sm .navbar-toggler {
    display: block !important;
  }

  .next-buttons {
    margin-left: 10px;
    margin-right: 15px;
  }
}

/*----------------------------------------------------- Mobile ---------------------------------------------------------*/
@media (max-width: 580px) {
  .hide {
    display: none !important;
  }
  .custom-btn {
    margin-right: 0;
  }
  .process-icon {
    width: 30%;
  }

	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .hero-text {
    text-align: center;
  }

  .full-screen {
    padding: 2rem 0;
  }

  .mobile-block {
    display: block;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}
